<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="email">email</label>
          <input type="text" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
        </div>
        <span *ngIf="!email.valid && email.touched">Email is not valid</span>
        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select name="subscription" id="subscription" [ngModel]=defaultSubscription required class="form-control">
            <option *ngFor="let subs of subscription" [value]="subs">{{subs}}</option>

          </select>
        </div>
        <div class="form-group">
          <label for="password">password</label>
          <input type="password" id="password" class="form-control" ngModel name="password" required #password="ngModel">
        </div>
        <span *ngIf="!password.valid && password.touched">Password should not empty</span>
        <div class="form-group"> 
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div class="row">
        <div class="col-xs-6  col-md-6 ">Email</div>
        <div class="col-xs-6  col-md-6 ">{{userData.email}}</div>
      </div>
      <div class="row">
        <div class="col-xs-6  col-md-6 ">Password</div>
        <div class="col-xs-6  col-md-6 ">{{userData.password}}</div>
      </div>
      <div class="row">
        <div class="col-xs-6  col-md-6 ">Subscription</div>
        <div class="col-xs-6  col-md-6 ">{{userData.subscription}}</div>
      </div>
    </div>
  </div>
</div>